<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
 <!-- CSS Section -->
  <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">
  <link rel='stylesheet' href='./Content/app.css' />
</head>
<body style="background-color: rgb(83, 95, 95)">
<h1 align="center"><%= title %></h1>
<form method = "post">
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<div class="row">
		<label class="col-sm-4 float-right" style="text-align: right">First Name:</label>
		<input type="text" class="col-sm-4 form-group" placeholder="Enter your first name" name="firstName" required>
		</div>
		<div class="row">
		<label class="col-sm-4 float-right" style="text-align: right" >Password:</label>
		<input type="text" class="col-sm-4 form-group" placeholder="Enter your last name" name="lastName" required>
        </div>
        
        <div class="row">
                <label class="col-sm-4 float-right" style="text-align: right">What is your age range?</label>
                <select class="col-sm-4 form-group" id="exampleFormControlSelect1">
                  <option>20-25</option>
                  <option>25-30</option>
                  <option>30-35</option>
                  <option>35-40</option>
                  <option>40-50</option>
                  <option>50+</option>
                </select>
        </div>

		<div class="row">
		<label class="col-sm-4 float-right" style="text-align: right">Email Id:</label>
		<input type="email" class="col-sm-4 form-group" value=<%= username %> name="emailId">
		</div>
		<div class="row">
		<label class="col-sm-4 float-right" style="text-align: right" >Favourite Movie:</label>
		<input type="text" class="col-sm-4 form-group" placeholder="Enter your favourite movie" name="previousMajor">
        </div>
        
		<div class="row">
		<label class="col-sm-4 float-right" style="text-align: right">Favourite Sports team:</label>
		<input type="text" class="col-sm-4 form-group" placeholder="Enter your favourite sports team" name="favouriteSport">
		</div>
		<div class="row">
		<label class="col-sm-4 float-right" style="text-align: right">Comments::</label>
		<textarea class="col-sm-4 form-group" rows="6" placeholder="Enter your comments" name="comments" required></textarea>
		</div>

		<div style = "text-align: center">
		<input type="submit"   class="btn btn-dark" style="text-align: center" value="Submit" name="submit">
		</div>

</form>
</body>
</html>