<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">
    <title>Thank You!</title>
</head>
<body style="background-color: rgb(83, 95, 95)">
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<h1 align="center">Thank You!!!</h1>
</body>
</html>